*{

    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

::-webkit-scrollbar {
    display: none;
}

.border {
    border: 1px solid red;
}




.xy-center {

    display: flex;
    justify-content: center;
    align-items: center;

}

.x-right_y-center {

    display: flex;
    justify-content: flex-end;
    align-items: center;


}